<!-- MAIN CONTENT -->
<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12">
        <div sa-widget [editbutton]="false" [sortable]="false" [deletebutton]="false" [togglebutton]="true" minimize="false" color="blueDark">
          <header class="text-center">
            <h2> <i class="fa fa-table"></i> SV Creation & Download</h2>
          </header>
          <div>
            <div class="widget-body">
              <div class="row">
                <div class="col-sm-12">
                  <div class="logincDeatils">
                    <label class="text-primary"><strong>Customer Verification Details : </strong></label>
                    <div class="row">
                      <form name="custForm" #custForm="ngForm" (ngSubmit)="onGetCustomer()" ngNativeValidate autocomplete="off">
                        <div class="col-sm-2" *ngIf="SFSDHS">
                          <label class="label-center">
                              <input type="checkbox" trueFalseValue trueValue="Y" falseValue="N" name="IsSubCust" (change)="isSubSFSD()" [(ngModel)]='cust.IsSubCust' /> Is SF / SD / POS Customer </label>
                      </div>
                        <div class="col-sm-3" *ngIf="SFSDHS">
                          <div class="form-group">
                            <label>SF / SD / POS <span class="errorMessage" *ngIf="cust.IsSubCust=='Y'">*</span></label>
                            <select class="form-control" [(ngModel)]="cust.CPCode" name="CPCode"[required]="cust.IsSubCust=='Y'" [disabled]="cust.IsSubCust=='N'">
                              <option value="" selected hidden>Select SF / SD / POS</option>
                              <option *ngFor="let option of chantype" [value]="option.CPCode">{{option.CPName}}</option>
                            </select>
                          </div>
                        </div>
                        <!-- <div class="col-sm-2">
                          <div class="form-group pull-right label-center">
                            <label for="sel1">Customer/Mobile No. <span class="errorMessage">*</span>
                            </label>
                          </div>
                        </div> -->
                        <div class="col-sm-2">
                          <div class="form-group">
                            <label for="sel1">Customer/Mobile No. <span class="errorMessage">*</span></label>
                            <input type="text" placeholder="Enter Customer No. / Mobile No." class="form-control" oninvalid="this.setCustomValidity('Enter consumer number')"
                              onchange="this.setCustomValidity('')" oninput="setCustomValidity(' ')" [(ngModel)]="cust.CustNoMob" name="CustNoMob" maxlength="10" saCommonDir dirType="number"
                              required />
                          </div>
                        </div>
                        <div class="col-sm-1">
                          <div class="form-group btn-center">
                            <button class="btn btn-block btn-success get_details" type="submit" [disabled]="!loaderbtn">
                              <i class="fa fa-fw" [ngClass]="{'fa-search': loaderbtn, 'fa-cog fa-spin': !loaderbtn }"></i> {{ loaderbtn == true ? "Get Details" : "Loading" }} </button>
                          </div>
                        </div>
                      </form>
                      <div class="col-sm-3 ">
                        <div class="form-group label-center1">
                          <label><strong> <i class="fa fa-user"></i> Customer Name : {{custData.ConsName}}</strong>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="refill">
                    <label>
                      <strong class="text-primary"> Product Details : </strong>
                    </label>
                    <form name="productForm" #productForm="ngForm" (ngSubmit)="onProductSubmit()" autocomplete="off" ngNativeValidate>
                      <div class="row">
                        <div class="col-sm-2 ">
                          <div class="form-group">
                            <label>Issue Date <span class="errorMessage">*</span>
                            </label><input type="text" class="form-control" placeholder="Enter Date" [(ngModel)]="product.IssueDate" bsDatepicker [bsConfig]="datePickerConfig" onkeydown="return false"
                              name="IssueDate" required />
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="form-group">
                            <label for="sel1">Product Segment <span class="errorMessage">*</span>
                            </label>
                            <select class="form-control" (change)="onSelectProdSegment();makeQuantityCheck()" [(ngModel)]="product.ProdSegId" name="ProdSegId" required>
                              <option value="" selected hidden>Select Segment</option>
                              <option [value]="prod.ProdSegId" *ngFor="let prod of productSegmentData">{{prod.ProdSeg}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="form-group">
                            <label for="sel1">Product <span class="errorMessage">*</span>
                            </label>
                            <select class="form-control" [(ngModel)]="product.ProdId" (change)="onProductSelect()" name="ProdId" required>
                              <option value="" selected hidden>Select Product</option>
                              <option [value]="pro.ProdId" *ngFor="let pro of productDataSelected">{{pro.Product}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-1">
                          <div class="form-group">
                            <label for="sel1">Rate</label>
                            <input type="text" class="form-control" placeholder="Enter Amount" [(ngModel)]="product.DepositAmt" saCommonDir dirType="number" name="DepositAmt" disabled />
                          </div>
                        </div>
                        <div class="col-sm-2" *ngIf="product.HandlingChargeShow">
                          <div class="form-group">
                            <label for="sel1">Handling Charge <span class="errorMessage">*</span>
                            </label>
                            <input type="text" maxlength="5" minlength="1" class="form-control" placeholder="Enter Charge" [(ngModel)]="product.HandlingCharge" saCommonDir dirType="number"
                              name="HandlingCharge" required disabled>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="form-group">
                            <label for="sel1">Purchase Qty <span class="errorMessage">*</span>
                            </label>
                            <input type="text" maxlength="3" minlength="1" class="form-control" placeholder="Enter Quantity" [(ngModel)]="product.PurchaseQty" saCommonDir dirType="number"
                              name="PurchaseQty" (blur)="makeQuantityCheck()" required />
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="form-group">
                            <label for="sel1">Monthly Consumption <span class="errorMessage">*</span>
                            </label>
                            <input type="text" class="form-control" placeholder="Enter Consumption" maxlength="3" minlength="1" [(ngModel)]="product.MonthlyConsumption" saCommonDir dirType="number"
                              name="MonthlyConsumption" required />
                          </div>
                        </div>
                        <div class="col-sm-1">
                          <div class="form-group">
                            <label>&nbsp; </label>
                            <button class="btn btn-block btn-warning ">
                              <i class="glyphicon glyphicon-plus"></i> Add </button>
                          </div>
                        </div>
                      </div>
                    </form>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="table-responsive">
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Issue Date</th>
                                <th>Product Segment</th>
                                <th>Product Name</th>
                                <th class="text-right">Deposite Amount</th>
                                <th class="text-right">Handling Charge</th>
                                <th class="text-right">Purchase Quantity</th>
                                <th class="text-right">Monthly Consumption</th>
                                <th>Remove</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let pr of prodArray;index as i">
                                <td>{{i+1}}</td>
                                <td>{{pr.IssueDate | date:'dd-MMM-yyyy' }}</td>
                                <td>{{pr.ProdSeg}}</td>
                                <td>{{pr.Product}}</td>
                                <td class="text-right">{{pr.DepositAmt}}</td>
                                <td class="text-right">{{pr.HandlingCharge}}</td>
                                <td class="text-right">{{pr.PurchaseQty}}</td>
                                <td class="text-right">{{pr.MonthlyConsumption}}</td>
                                <td>
                                  <button class="btn btn-xs btn-danger" (click)=onRemoveProduct(pr,i)>Remove</button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <footer>
                <div class="row">
                  <div class="col-sm-12 ">
                    <hr />
                    <button class="pull-right btn btn-success" type="submit" [disabled]="!loaderbtn" (click)="onCustomerProdSubmit()">
                      <i class="fa fa-fw" [ngClass]="{'fa-download':loaderbtn,'fa-cog fa-spin':!loaderbtn}"></i> {{loaderbtn==true? ' Create SV & Download':'Loading'}}</button>
                    <!-- <button class="pull-right btn btn-primary marg-right" type="submit" [disabled]="!loaderbtn" (click)="onCustomerProdSubmit()">
                      <i class="fa fa-fw" [ngClass]="{'fa-paper-plane':loaderbtn,'fa-cog fa-spin':!loaderbtn}"></i> {{loaderbtn==true? 'Submit':'Loading'}}</button> -->
                  </div>
                </div>
              </footer>
            </div>
          </div>
        </div>
      </article>
    </div>
  </sa-widgets-grid>
</div>