<!-- MAIN CONTENT -->
<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12">
        <div sa-widget [editbutton]="false" [sortable]="false" [deletebutton]="false" [togglebutton]="true" minimize="false" color="blueDark">
            <header class="text-center"> 
                      <h2> <i class="fa fa-table"></i> Cash Memo & Refill Delivery</h2>
          </header>
          <div>
            <div class="widget-body">
              <div class="row ">
                  <div class="col-sm-2 col-xs-4">
                      <div class="form-group">
                          <select class="form-control">
                              <option selected hidden>Select Area</option>
                              <option>Pune</option>
                              <option>Nagpur </option>
                          </select>
                      </div>
                  </div>
                <div class="col-sm-2 col-xs-8">
                  <div class="form-group">
                    <input type="text" placeholder="Enter Customer/Mobile No." class="form-control" required />
                  </div>
                </div>
                <div class="col-sm-1 col-xs-4">
                  <div class="form-group">
                    <button type="submit" class="btn btn-block btn-success get_details">
                      <i class="fa fa-search"></i> Get Details</button>

                  </div>
                </div>
                <div class="col-sm-6 pull-right">                     
                  <div class="form-group pull-right">
                    <a routerLink="/order/cash-memo-and-refill-delivery"  class="btn btn-block btn-warning get_details pull-right">
                      <i class="glyphicon glyphicon-plus"></i>
                     Print Cash Memo
                    </a>
                  </div>
                  <div class="form-group pull-right" style="margin-right:20px;">
                    <a routerLink="/order/deliver-refill"  class="btn btn-block btn-success get_details pull-right">
                      <i class="glyphicon glyphicon-plus"></i>
                      Deliver Refill
                    </a>
                  </div>
                  <div class="form-group pull-right" style="margin-right:20px;">
                    <a routerLink="/order/undeliver-refill"  class="btn btn-block btn-danger get_details pull-right">
                      <i class="glyphicon glyphicon-plus"></i>
                     Undeliver Refill
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



      </article>


    </div>

  </sa-widgets-grid>
</div>