<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <sa-widgets-grid>
        <div class="row">
            <article class="col-sm-12">
                <div sa-widget [editbutton]="false" [sortable]="false" [deletebutton]="false" [togglebutton]="true" minimize="false" color="blueDark">
                    <header class="text-center">
                        <h2>
                            <i class="fa fa-database"></i> Godown Master</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div class="row">
                                <form novalidate="novalidate">
                                    <div class="col-sm-12">
                                        <div class="form-bootstrapWizard clearfix">
                                            <ul class="bootstrapWizard">
                                                <li *ngFor="let pane of steps; let i = index" [class.active]="activeStep == pane">
                                                    <a (click)="setActiveStep(pane)">
                                                        <span class="step">
                                                            <span *ngIf="!pane.checked">{{i + 1}}</span>
                                                            <i class="fa fa-check" *ngIf="pane.checked"></i>
                                                        </span>
                                                        <span class="title">{{pane.title}}</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-content">
                                            <div class="tab-pane" [class.active]="activeStep.key == 'step1'">
                                                <br>
                                                <h3>
                                                    <strong>Step 1 </strong> - Godown Details</h3>
                                                <form name="godownForm" #godownForm="ngForm" (ngSubmit)="nextToAddress()" autocomplete="off" ngNativeValidate>
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label for="sel1">Godown Name <span class="errorMessage" style="color:red;">*</span>
                                                                </label>
                                                                <input type="text" class="form-control" placeholder="Enter Godown Name" [(ngModel)]="godown.GodownName" name="GodownName" saCommonDir
                                                                    dirType="alphanumericupper" saUppercase required />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label for="sel1">Godown Capacity (In Kg)  <span class="errorMessage" style="color:red;">*</span>
                                                                </label>
                                                                <input type="text" class="form-control" placeholder="Enter Capacity" [(ngModel)]="godown.Capacity" name="Capacity" saCommonDir
                                                                    dirType="number" required />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label for="sel1">Contact Person <span class="errorMessage" style="color:red;">*</span>
                                                                </label>
                                                                <input type="text" class="form-control" placeholder="Enter Contact Person" [(ngModel)]="godown.ContactName" name="ContactName"
                                                                    saCommonDir dirType="alphaonlyupper" saUppercase required />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label for="sel1">Contact No. <span class="errorMessage" style="color:red;">*</span>
                                                                </label>
                                                                <input type="text" class="form-control" placeholder="Enter Contact No." [(ngModel)]="godown.ContactNo" name="ContactNo" saCommonDir
                                                                    maxlength="15" dirType="number" required />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <label for="sel1">Godown License No. <span class="errorMessage" style="color:red;">*</span>
                                                                </label>
                                                                <input type="text" class="form-control" placeholder="Enter License No." [(ngModel)]="godown.LicNo" name="LicNo" required />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <label for="sel1">License Issue Date <span class="errorMessage" style="color:red;">*</span>
                                                                </label>
                                                                <input type="text" class="form-control" placeholder="Enter License Issue Date" [(ngModel)]="godown.LicIssueDate" name="LicIssueDate"
                                                                    (bsValueChange)="resetEndDate($event,'LI')" bsDatepicker [bsConfig]="datePickerConfig" onkeydown="return false" required />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <label for="sel1">License Expiry Date <span class="errorMessage" style="color:red;">*</span>
                                                                </label>
                                                                <input type="text" class="form-control" placeholder="Enter License Expiry Date" [(ngModel)]="godown.LicExpDate" name="LicExpDate"
                                                                    onkeydown="return false" [minDate]="LicMinDate" bsDatepicker [bsConfig]="datePickerConfig" required />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <label for="sel1">Last Audit Date <span class="errorMessage" style="color:red;">*</span>
                                                                </label>
                                                                <input type="text" class="form-control" placeholder="Enter Last Audit Date" [(ngModel)]="godown.LastAuditDate" name="LastAuditDate"
                                                                    onkeydown="return false" bsDatepicker [bsConfig]="datePickerConfig" required />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <label>Godown Type <span class="errorMessage">*</span>
                                                                </label>
                                                                <select class="form-control" [(ngModel)]="godown.GodownTypeId" (change)="CheckGodownType()" name="GodownTypeId" required>
                                                                    <option value="" selected hidden>Select Type</option>
                                                                    <option [value]="go.Id" *ngFor="let go of GodownTypeData">{{go.Name}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <label for="sel1">Lease  Start Date <span class="errorMessage" [hidden]="GodownType=='O'">*</span>
                                                                </label>
                                                                <input type="text" class="form-control" placeholder="Enter Lease Start Date" bsDatepicker [(ngModel)]="godown.Startdate" name="Startdate"
                                                                    id="startDate" (bsValueChange)="resetEndDate($event,'LP')" onkeydown="return false" bsDatepicker [bsConfig]="datePickerConfig"
                                                                    [disabled]="GodownType=='O'" [required]="GodownType!='O'" (ngModelChange)="setMinDate()" />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <label for="sel1">Lease End Date <span class="errorMessage" [hidden]="GodownType=='O'">*</span>
                                                                </label>
                                                                <input type="text" id="endDate" class="form-control" placeholder="Enter Lease End Date" [(ngModel)]="godown.EndDate" name="EndDate"
                                                                    [disabled]="GodownType=='O'" [required]="GodownType!='O'" (ngModelChange)="calculateMonths()" onkeydown="return false"
                                                                    [minDate]="LeaseMinDate" bsDatepicker [bsConfig]="datePickerConfig" />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <label for="sel1">Lease Period  ( In Years) <span class="errorMessage" [hidden]="GodownType=='O'">*</span>
                                                                </label>
                                                                <input type="text" class="form-control" placeholder="Enter Lease Period" saCommonDir dirType="decimal" [(ngModel)]="godown.LeasePeriod"
                                                                    name="LeasePeriod" [disabled]="GodownType=='O'" [required]="GodownType!='O'" />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label>
                                                                <input type="checkbox" trueFalseValue trueValue="Y" falseValue="N" [(ngModel)]="godown.IsActive" name="IsActive" /> Is Active </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-actions">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <ul class="pager wizard no-margin">
                                                                    <li class="previous">
                                                                        <a routerLink="/master/godown-master" class="btn btn-lg btn-default"> Previous </a>
                                                                    </li>
                                                                    <li class="next">
                                                                        <!-- <button type="submit" [class.disabled]="activeStep.submitted && !activeStep.valid" class="btn btn-lg txt-color-darken next_button">
                                                                        Next
                                                                    </button> -->
                                                                        <button class="btn btn-lg txt-color-darken next_button" [class.disabled]="activeStep.submitted && !activeStep.valid"
                                                                            type="submit" [disabled]="!loaderbtn">
                                                                            <i class="fa fa-fw" [ngClass]="{'fa-cog fa-spin':!loaderbtn}" *ngIf="!loaderbtn"></i>
                                                                            {{loaderbtn==true? 'Save & Next':'Loading'}}</button>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="tab-pane" [class.active]="activeStep.key == 'step2'">
                                                <br>
                                                <h3>
                                                    <strong>Step 2</strong> - Address Details</h3>
                                                <form name="addressForm" #addressForm="ngForm" (ngSubmit)="nextToDocumentDeatils()" autocomplete="off" ngNativeValidate>
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label for="sel1">Address Line 1 <span class="errorMessage" style="color:red;">*</span>
                                                                </label>
                                                                <input type="text" class="form-control" placeholder="Enter Address Line 1" saCommonDir dirType="alphanumericupper" saUppercase
                                                                    [(ngModel)]="godown.AddressLineOne" name="AddressLine1" required />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label for="sel1">Address Line 2</label>
                                                                <input type="text" class="form-control" placeholder="Enter Address Line 2" saCommonDir dirType="alphanumericupper" saUppercase
                                                                    [(ngModel)]="godown.AddressLineTwo" name="AddressLine2" />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label for="sel1">Address Line 3</label>
                                                                <input type="text" class="form-control" placeholder="Enter Address Line 3" saCommonDir dirType="alphanumericupper" saUppercase
                                                                    [(ngModel)]="godown.AddressLineThree" name="AddressLine3" />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label>State <span class="errorMessage">*</span>
                                                                </label>
                                                                <select class="form-control" name="StateCode" [(ngModel)]="godown.StateCode" (change)="getCityData()" required>
                                                                    <option value="" selected hidden>Select State</option>
                                                                    <option [value]="st.StateCode" *ngFor="let st of StateData">{{st.StateDesc}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label>City <span class="errorMessage">*</span>
                                                                </label>
                                                                <select class="form-control" [(ngModel)]="godown.CityCode" name="CityCode" required>
                                                                    <option value="" selected hidden>Select City</option>
                                                                    <option [value]="city.CityCode" *ngFor="let city of CityData">{{city.CityName}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label for="sel1">Pin Code <span class="errorMessage" style="color:red;">*</span>
                                                                </label>
                                                                <input type="text" class="form-control" placeholder="Enter Pin" saCommonDir dirType="number" [(ngModel)]="godown.PinCode" name="Pin"
                                                                    minlength="6" maxlength="6" numericonly required />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-actions">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <ul class="pager wizard no-margin">
                                                                    <li class="previous">
                                                                        <a (click)="prevStep()" [class.disabled]="steps.indexOf(activeStep) == 0" class="btn btn-lg btn-default"> Previous </a>
                                                                    </li>
                                                                    <li class="next">
                                                                        <!-- <a (click)="nextToDocumentDeatils()" [class.disabled]="activeStep.submitted && !activeStep.valid" class="btn btn-lg txt-color-darken">
                                                                        Next
                                                                    </a> -->
                                                                        <button class="btn btn-lg txt-color-darken next_button" [class.disabled]="activeStep.submitted && !activeStep.valid"
                                                                            type="submit" [disabled]="!loaderbtn">
                                                                            <i class="fa fa-fw" [ngClass]="{'fa-cog fa-spin':!loaderbtn}" *ngIf="!loaderbtn"></i>
                                                                            {{loaderbtn==true? 'Save & Next':'Loading'}}</button>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="tab-pane" [class.active]="activeStep.key == 'step3'">
                                                <br>
                                                <h3>
                                                    <strong>Step 3</strong> - Document Details</h3>
                                                <form name="goDocForm" #goDocForm="ngForm" (ngSubmit)="onSubmitDoc()" autocomplete="off" ngNativeValidate>
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <label>Document Type <span class="errorMessage">*</span>
                                                                </label>
                                                                <select class="form-control" [(ngModel)]="document.DocTypId" name="DocTypeId" required>
                                                                    <option value="" [selected]="true" hidden>Select Document Type</option>
                                                                    <option [value]="doc.DocTypId" *ngFor="let doc of docTypeData">{{doc.DocType}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label>Select File <span class="errorMessage">*</span>
                                                                </label>
                                                                <input type="file" class="form-control" (change)="onFileSelected($event)" id="fileControl" name="DocFileName" placeholder="Enter File"
                                                                    required />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label>Document No. <span class="errorMessage">*</span>
                                                                </label>
                                                                <input type="text" class="form-control" name="DocNo" [(ngModel)]="document.DocNo" placeholder="Enter Document No." saCommonDir
                                                                    dirType="alphanumericupper" saUppercase required />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-1">
                                                            <div class="form-group">
                                                                <label>&nbsp; </label>
                                                                <button class="btn btn-block btn-warning ">
                                                                    <i class="glyphicon glyphicon-plus"></i> Add </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="table-responsive">
                                                                <table class="table table-hover">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>#</th>
                                                                            <th>Document Type</th>
                                                                            <th>Document</th>
                                                                            <th>Document No.</th>
                                                                            <th>View</th>
                                                                            <th>Remove</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr *ngFor="let docs of bdata;index as i">
                                                                            <td>{{i+1}}</td>
                                                                            <td>{{docs.DocType}}</td>
                                                                            <td>{{docs.DocFileName}} </td>
                                                                            <td>{{docs.DocNo}} </td>
                                                                            <td>
                                                                                <a href="{{imgUrl}}{{docs.DocFileName}}" *ngIf="docs.DocId!=null && docs.DocId!=''" target="_blank"
                                                                                    class="btn btn-xs btn-success">View</a>
                                                                                <a (click)="viewDocument(docs.filepreview)" *ngIf="docs.DocId==null || docs.DocId==''" target="_blank"
                                                                                    class="btn btn-xs btn-success">View</a>
                                                                            </td>
                                                                            <td>
                                                                                <button class="btn btn-xs btn-danger" (click)=onRemoveDoc(docs,i+1)>Remove</button>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                <div class="form-actions">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <ul class="pager wizard no-margin">
                                                                <li class="previous">
                                                                    <a (click)="prevStep()" [class.disabled]="steps.indexOf(activeStep) == 0" class="btn btn-lg btn-default"> Previous </a>
                                                                </li>
                                                                <li class="next">
                                                                    <!-- <a (click)="nextToSave()" [class.disabled]="activeStep.submitted && !activeStep.valid" class="btn btn-lg txt-color-darken">
                                                                        Save & Submit
                                                                    </a> -->
                                                                    <button (click)="nextToSave()" class="btn btn-lg txt-color-darken next_button"
                                                                        [class.disabled]="activeStep.submitted && !activeStep.valid" type="submit" [disabled]="!loaderbtn">
                                                                        <i class="fa fa-fw" [ngClass]="{'fa-cog fa-spin':!loaderbtn}" *ngIf="!loaderbtn"></i>
                                                                        {{loaderbtn==true? 'Submit':'Loading'}}</button>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="form-actions">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <ul class="pager wizard no-margin">
                                                            <li class="previous">
                                                                <a (click)="prevStep()" [class.disabled]="steps.indexOf(activeStep) == 0" class="btn btn-lg btn-default"> Previous
                                                                </a>
                                                            </li>
                                                            <li class="next">
                                                                <a (click)="nextStep()" [class.disabled]="activeStep.submitted && !activeStep.valid" class="btn btn-lg txt-color-darken">
                                                                    Next
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </sa-widgets-grid>
</div>