<!-- MAIN CONTENT -->
<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12">
        <div sa-widget [editbutton]="false" [sortable]="false" [deletebutton]="false" [togglebutton]="true" minimize="false" color="blueDark">
          <header class="text-center">
            <h2>
              <i class="fa fa-table"></i> Area Wise Refill Order Summary</h2>
          </header>
          <div>
            <div class="widget-body">
              <div class="row ">
                <form name="cashMemoForm" autocomplete="off" #cashMemoForm="ngForm" (ngSubmit)="onLoad()" autocomplete="off" ngNativeValidate>
                  <div class="col-sm-2" *ngIf="cpInfo.ChannelTypeFlag=='DI'|| cpInfo.ChannelTypeFlag=='DE'">
                    <div class="form-group">
                      <!-- <label>SF / SD / POS <span class="errorMessage">*</span></label> -->
                      <select class="form-control" [(ngModel)]="cust.CPCode" name="CPCode" (change)="onCPChange(cust.CPCode)" required>
                        <option value="" selected disabled>Select SF / SD / POS</option>
                        <option *ngFor="let option of chantype" [value]="option.CPCode">{{option.CPName}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <select [(ngModel)]="cust.AreaId" name="AreaId" (change)="getSubArea()" class="form-control" >
                        <option value="" selected disabled> Select Area </option>
                        <option *ngFor="let ar of AreaData" value="{{ar.AreaId}}">{{ar.AreaName}}</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-sm-2">
                    <div class="form-group">
                  
                      <select [(ngModel)]="cust.SubAreaId" name="SubAreaId" (change)="getRoute()" class="form-control" >
                        <option value="" selected disabled> Select Sub Area </option>
                        <option *ngFor="let sub of SubAreaData" value="{{sub.SubAreaId}}">{{sub.SubAreaName}}</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-sm-2">
                    <div class="form-group">
                 
                      <select class="form-control" [(ngModel)]="cust.RouteId" name="RouteId"  >
                        <option value="" selected disabled> Select Route </option>
                        <option *ngFor="let rou of RouteData" value="{{rou.RouteId}}">{{rou.RouteName}}</option>
                      </select>
                    </div>
                  </div>  
                  <div class="col-sm-4">
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label class="posticon">
                            <i class="icon-append fa fa-calendar"></i>
                            <input type="text" class="form-control" placeholder="Enter Start Date" bsDatepicker [(ngModel)]="cust.StartDate" name="Startdate" id="startDate"
                              (bsValueChange)="resetEndDate($event)" onkeydown="return false" bsDatepicker [bsConfig]="datePickerConfig" />
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label class="posticon">
                            <i class="icon-append fa fa-calendar"></i>
                            <input type="text" id="endDate" class="form-control" placeholder="Enter End Date" [(ngModel)]="cust.EndDate" name="EndDate" onkeydown="return false" [minDate]="minDate"
                              bsDatepicker [bsConfig]="datePickerConfig" />
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-4 col-xs-4">
                        <div class="form-group">
                          <button class="btn btn-block btn-success get_details" type="submit" [disabled]="!loaderbtn">
                            <i class="fa fa-fw" [ngClass]="{
                                                                    'fa-search': loaderbtn,
                                                                    'fa-cog fa-spin': !loaderbtn
                                                                  }"></i> {{ loaderbtn == true ? "Get Details" : "Loading" }} </button>
                        </div>
                      </div>
                    </div>

                  </div>
            
                  <!-- <div class="col-sm-3 col-xs-4">
                    <div class="form-group">
                      <input type="text" placeholder="Enter Customer No. / Mobile No." class="form-control" oninvalid="this.setCustomValidity('Enter consumer number')"
                        onchange="this.setCustomValidity('')" oninput="setCustomValidity(' ')" [(ngModel)]="cust.CustNoMob" name="CustNoMob" maxlength="10" saCommonDir dirType="number" />
                    </div>
                  </div> -->
               
                </form>
                <div class="col-sm-12 table-responsive">
                  <ui-grid [data]="areaOrderData" [gridOptions]="gridOptions" (onEdit)="onEditFunction($event)"></ui-grid>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </sa-widgets-grid>
</div>