<!-- MAIN CONTENT -->
<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12">
        <div sa-widget [editbutton]="false" [sortable]="false" [deletebutton]="false" [togglebutton]="true" minimize="false" color="blueDark">
            <header class="text-center"> 
                      <h2> <i class="fa fa-table"></i> SF/SD/POS Price Allocation List</h2>
          </header>
          <div>
            <div class="widget-body">
                <form name="PAllocationForm" #PAllocationForm="ngForm" (ngSubmit)="onLoad()" ngNativeValidate autocomplete="off">
              <div class="row ">
                <div class="col-sm-2 col-xs-4">
                  <div class="form-group">
                    <!-- <label for="sel1">Channel Partner Code</label> -->
                    <input type="text" class="form-control" id="pmode" placeholder="SD / SF / POS Code" autocomplete="off" [(ngModel)]="PAllocation.CPCode" [ngModelOptions]="{standalone: true}" />
                  </div>
                </div>
                  <div class="col-sm-2 col-xs-4">
                      <div class="form-group">
                          <select class="form-control" (change)="onSelectProdSegment()" [(ngModel)]="PAllocation.ProdSegId" name="ProdSegId" >
                              <option value="" selected disabled>Select Segment</option>
                              <option [value]="prod.ProdSegId" *ngFor="let prod of productSegmentData">{{prod.ProdSeg}}</option>
                            </select>
                      </div>
                  </div>
                  <div class="col-sm-2 col-xs-4">
                    <div class="form-group">
                        <select class="form-control" [(ngModel)]="PAllocation.ProdId" name="ProdId"  >
                            <option value="" selected disabled>Select Product</option>
                            <option [value]="pro.ProdId" *ngFor="let pro of productDataSelected">{{pro.Product}}</option>
                          </select>
                    </div>
                </div>
                <!-- <div class="col-sm-2 col-xs-4">
                  <div class="form-group">
                      <select class="form-control">
                          <option selected hidden>Select Price Status</option>
                          <option>Current </option>
                          <option>Previous</option>
                          <option>Future </option>
                      </select>
                  </div>
              </div> -->
            
                <div class="col-sm-1 col-xs-4">
                  <div class="form-group">
                      <button class="btn btn-block btn-success get_details" type="submit" [disabled]="!loaderbtn">
                        <i class="fa fa-fw" [ngClass]="{'fa-search':loaderbtn,'fa-cog fa-spin':!loaderbtn}"></i> {{loaderbtn==true? 'Get Details':'Loading'}}</button>
                  </div>
                </div>
                <div class="col-sm-4 pull-right">
                  <div class="form-group pull-right" style="margin-left: 25px;">
                    <a routerLink="/settings/sf-sd-price-allocation"  class="btn btn-block btn-warning get_details pull-right">
                      <i class="glyphicon glyphicon-plus"></i>
                      Add Price
                    </a>
                  </div>
                  <div class="form-group pull-right" >
                    <a routerLink="/settings/sf-sd-bulk-price-allocation" class="btn btn-block btn-info get_details pull-right">
                      <i class="glyphicon glyphicon-plus"></i> Bulk Price </a>
                  </div>
            
              
                </div>
              
               
              </div>
              </form>
              <div class="row">
                  <div class="col-sm-12 table-responsive">
                      <ui-grid [data]="PriceAllocationData" [gridOptions]="gridOptions" (onEdit)="onEditFunction($event)" ></ui-grid>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </sa-widgets-grid>
</div>