<!-- MAIN CONTENT -->
<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12">
        <div sa-widget [editbutton]="false" [sortable]="false" [deletebutton]="false" [togglebutton]="true" minimize="false" color="blueDark">
          <header class="text-center">
            <h2>
              <i class="fa fa-table"></i> Category Wise Discount Allocation </h2>
          </header>
          <div>
            <div class="widget-body">
                <form name="CatDiscountForm" #CatDiscountForm="ngForm" (ngSubmit)="onLoad()" autocomplete="off" ngNativeValidate>
              <div class="row ">
                <!-- <div class="col-sm-2 col-xs-4">
                  <div class="form-group">
                    <select class="form-control">
                      <option selected hidden>Select  Category</option>
                      <option>Category 1 </option>
                      <option>Category 2</option>
                      <option>Category 3 </option>
                    </select>
                  </div>
                </div>
               
                <div class="col-sm-1 col-xs-4">
                  <div class="form-group">
                    <button type="submit" class="btn btn-block btn-success get_details">
                      <i class="fa fa-search"></i> Get Details</button>

                  </div>
                </div> -->
                <div class="col-sm-2 pull-right">
                  <div class="form-group pull-right">
                    <a routerLink="/settings/category-wise-discount-allocation" class="btn btn-block btn-warning get_details pull-right">
                      <i class="glyphicon glyphicon-plus"></i>
                      Add Discount
                    </a>
                  </div>
                </div>
              </div>
              </form>

              <div class="row">
                  <div class="col-sm-12 table-responsive">
                      <ui-grid [data]="DiscountData" [gridOptions]="gridOptions" (onEdit)="onEditFunction($event)"></ui-grid>
                    </div>
              </div>
              <!-- <div class="row">
                <div class="col-sm-12">
                  <div class="table-responsive">

                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Customer Category</th>
                          <th>Discount %</th>
                          <th>Isactive</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>Category 1</td>
                          <td>10</td>
                          <td>Y</td>


                        </tr>
                        <tr>
                          <td>2</td>
                          <td>Category 2</td>
                          <td>115</td>
                          <td>Y</td>

                        </tr>
                      </tbody>
                    </table>

                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>



      </article>


    </div>

  </sa-widgets-grid>
</div>