<!-- MAIN CONTENT -->
<div id="content">
  <!-- widget grid -->
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12">
        <div sa-widget [editbutton]="false" [sortable]="false" [deletebutton]="false" [togglebutton]="true" minimize="false" color="blueDark">
          <header class="text-center">
            <h2>
              <i class="fa fa-table"></i> Refill Booking</h2>
          </header>
          <div>
            <div class="widget-body">
              <div class="row">
                <div class="col-sm-12">
                  <div class="logincDeatils">
                    <label class="text-primary"><strong>Customer Verification Details : </strong></label>
                    <div class="row">
                      <form name="custForm" #custForm="ngForm" (ngSubmit)="onGetCustomer()" ngNativeValidate autocomplete="off">
                        <div class="col-sm-2">
                          <div class="form-group pull-right label-center">
                            <label for="sel1">Customer/Mobile No. <span class="errorMessage">*</span>
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="form-group">
                            <input type="text" placeholder="Customer No. / Mobile No." class="form-control" oninvalid="this.setCustomValidity('Enter consumer number')"
                              onchange="this.setCustomValidity('')" oninput="setCustomValidity(' ')" [(ngModel)]="cust.CustNoMob" name="CustNoMob" maxlength="10" saCommonDir dirType="number"
                              required />
                          </div>
                        </div>
                        <div class="col-sm-1">
                          <div class="form-group">
                            <button class="btn btn-block btn-success get_details" type="submit" [disabled]="!loaderbtn">
                              <i class="fa fa-fw" [ngClass]="{'fa-search': loaderbtn, 'fa-cog fa-spin': !loaderbtn }"></i> {{ loaderbtn == true ? 'Get Details' : 'Loading' }} </button>
                          </div>
                        </div>
                      </form>
                      <div class="col-sm-3 col-sm-offset-1">
                        <div class="form-group label-center">
                          <label><strong> <i class="fa fa-user"></i> Customer Name : {{cust.ConsName}}</strong>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="refill">
                    <label>
                      <strong class="text-primary"> Booking Details : </strong>
                    </label>
                    <form name="productForm" #productForm="ngForm" (ngSubmit)="addProduct()" autocomplete="off" ngNativeValidate>
                      <div class="row">
                        <div class="col-sm-3">
                          <div class="form-group">
                            <label for="sel1">Product Segment <span class="errorMessage">*</span>
                            </label>
                            <select class="form-control" (change)="onSelectProdSegment()" [(ngModel)]="product.ProdSegId" name="ProdSegId" required>
                              <option value="" selected hidden>Select Segment</option>
                              <option [value]="prod.ProdSegId" *ngFor="let prod of productSegmentData">{{prod.ProdSeg}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="form-group">
                            <label for="sel1">Product <span class="errorMessage">*</span>
                            </label>
                            <select class="form-control" [(ngModel)]="product.ProdId" name="ProdId" (change)="onSelectProduct()" required>
                              <option value="" selected hidden>Select Product</option>
                              <option [value]="pro.ProdId" *ngFor="let pro of productDataSelected">{{pro.Product}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-1">
                          <div class="form-group">
                            <label>Rate <span class="errorMessage">*</span>
                            </label>
                            <input type="text" class="form-control" placeholder="Rate" name="DepositAmount" [(ngModel)]="product.ProdRate" (change)="onSelectProduct()" saCommonDir dirType="number"
                              disabled required />
                          </div>
                        </div>
                        <div class="col-sm-1">
                          <div class="form-group">
                            <label> Quantity <span class="errorMessage">*</span>
                            </label>
                            <input type="text" class="form-control" placeholder="Enter Qty" name="ProdQty" [(ngModel)]="product.ProdQty" (ngModelChange)="onSelectProduct()" saCommonDir
                              dirType="number" required />
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="form-group">
                            <label> Amount <span class="errorMessage">*</span>
                            </label>
                            <input type="text" class="form-control" placeholder="Enter Amount" name="ProdAmt" [(ngModel)]="product.ProdAmt" saCommonDir dirType="number" disabled required />
                          </div>
                        </div>
                        <div class="col-sm-1">
                          <div class="form-group">
                            <label>&nbsp; </label>
                            <button class="btn btn-block btn-warning ">
                              <i class="glyphicon glyphicon-plus"></i> Add </button>
                          </div>
                        </div>
                      </div>
                    </form>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="table-responsive">
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Product Segment</th>
                                <th>Product Name</th>
                                <th class="text-right">Rate</th>
                                <th class="text-right">Quantity</th>
                                <th class="text-right">Sub Total</th>
                                <th class="text-right">IGST </th>
                                <th class="text-right"> CGST </th>
                                <th class="text-right">SGST </th>
                                <th class="text-right">Amount</th>
                                <th>Remove</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let pr of ProductArray;index as i">
                                <td>{{i+1}}</td>
                                <td>{{pr.ProdSeg}}</td>
                                <td>{{pr.Product}}</td>
                                <td class="text-right">{{pr.ProdRate}}</td>
                                <td class="text-right">{{pr.ProdQty}}</td>
                                <td class="text-right">{{pr.SubTotal}}</td>
                                <td class="text-right">{{pr.IgstAmt}}</td>
                                <td class="text-right">{{pr.CgstAmt}}</td>
                                <td class="text-right">{{pr.SgstAmt}}</td>
                                <td class="text-right">{{pr.GrandTotal}}</td>
                                <td>
                                  <button class="btn btn-xs btn-danger" (click)=onRemoveProduct(pr,i)>Remove</button>
                                </td>
                              </tr>
                              <tr>
                                <td colspan="4" class="text-right"><strong>Total</strong> :</td>
                                <td class="text-right"><strong>{{cust.QtyTotal}}</strong></td>
                                <td class="text-right"><strong>{{cust.SubTotal}}</strong></td>
                                <td class="text-right"><strong>{{cust.IgstTotal}}</strong></td>
                                <td class="text-right"><strong>{{cust.CgstTotal}}</strong></td>
                                <td class="text-right"><strong>{{cust.SgstTotal}}</strong></td>
                                <td class="text-right"><strong>{{cust.GrandTotal}}</strong></td>
                                <td></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <form name="refillBookingForm" #refillBookingForm="ngForm" (ngSubmit)="onSubmitBooking()" autocomplete="off" ngNativeValidate>
                <div class="row">
                  <div class="col-sm-3 col-sm-offset-5">
                    <div class="form-group">
                      <label>Delivery Boy <span class="errorMessage">*</span>
                      </label>
                      <select class="form-control" [(ngModel)]="cust.AllocatedUserCode" name="AllocatedUserCode" required>
                        <option value="" selected hidden>Select Delivery Boy</option>
                        <option [value]="del.EmpId" *ngFor="let del of delBoyData">{{del.EmpName}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label>Discount </label>
                      <input type="text" class="form-control" placeholder="Enter Discount" [(ngModel)]="cust.Discount" name="Discount" (ngModelChange)="onDiscountAdd()" saCommonDir dirType="number" />
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label>Total Amount </label>
                      <input type="text" class="form-control" placeholder="Enter Amount" [(ngModel)]="cust.TotalAmtPayable" name="TotalAmtPayable" disabled />
                    </div>
                  </div>
                </div>
                <footer>
                  <div class="row">
                    <div class="col-sm-12 ">
                      <hr />
                      <a class="pull-right btn btn-default" routerLink="/order/refill-booking-list">
                        <i class="glyphicon glyphicon-arrow-left"></i> &nbsp;&nbsp;Back </a>
                      <button class="pull-right btn btn-primary marg-right" type="submit" [disabled]="!loaderbtn">
                        <i class="fa fa-fw" [ngClass]="{'fa-paper-plane':loaderbtn,'fa-cog fa-spin':!loaderbtn}"></i> {{loaderbtn==true? 'Book Now':'Loading'}}</button>
                    </div>
                  </div>
                </footer>
              </form>
            </div>
          </div>
        </div>
      </article>
    </div>
  </sa-widgets-grid>
</div>