<!-- MAIN CONTENT -->
<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12">
        <div sa-widget [editbutton]="false" [sortable]="false" [deletebutton]="false" [togglebutton]="true" minimize="false" color="blueDark">
          <header class="text-center">
            <h2> <i class="fa fa-table"></i> Delivered Orders</h2>
          </header>
          <div>
            <div class="widget-body">
              <div class="row ">
                <form name="orderDeliveredForm" #orderDeliveredForm="ngForm" (ngSubmit)="onLoad()" autocomplete="off" ngNativeValidate>
                  <div class="col-sm-3" *ngIf="cpInfo.ChannelTypeFlag=='DI'|| cpInfo.ChannelTypeFlag=='DE'">
                    <div class="form-group">
                      <!-- <label>SF / SD / POS <span class="errorMessage">*</span></label> -->
                      <select class="form-control" [(ngModel)]="deliverFilter.CPCode" name="CPCode" (change)="onCPChange(deliverFilter.CPCode)" required>
                        <option value="" selected disabled>Select SF / SD / POS</option>
                        <option *ngFor="let option of chantype" [value]="option.CPCode">{{option.CPName}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-2 col-xs-4">
                    <div class="form-group">
                      <select class="form-control" [(ngModel)]="deliverFilter.DelUserCode" name="DelUserCode">
                        <option value="" selected disabled>Select Delivery Boy</option>
                        <option [value]="del.EmpId" *ngFor="let del of delBoyData">{{del.EmpName}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-2 col-xs-8">
                    <div class="form-group">
                      <label class="posticon">
                        <i class="icon-append fa fa-calendar"></i>
                        <input type="text" class="form-control" placeholder="Enter Start Date" bsDatepicker [(ngModel)]="deliverFilter.StartDate" name="Startdate" id="startDate"
                          (bsValueChange)="resetEndDate($event)" onkeydown="return false" bsDatepicker [bsConfig]="datePickerConfig" />
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-2 col-xs-8">
                    <div class="form-group">
                      <label class="posticon">
                        <i class="icon-append fa fa-calendar"></i>
                        <input type="text" id="endDate" class="form-control" placeholder="Enter End Date" [(ngModel)]="deliverFilter.EndDate" name="EndDate" onkeydown="return false"
                          [minDate]="minDate" bsDatepicker [bsConfig]="datePickerConfig" />
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-1 col-xs-4">
                    <div class="form-group">
                      <button class="btn btn-block btn-success get_details" type="submit" [disabled]="!loaderbtn">
                        <i class="fa fa-fw" [ngClass]="{'fa-search':loaderbtn,'fa-cog fa-spin':!loaderbtn}"></i> {{loaderbtn==true? 'Get Details':'Loading'}}</button>
                    </div>
                  </div>
                </form>
                <div class="col-sm-12 table-responsive">
                  <ui-grid [data]="DeliveredOrderData" [gridOptions]="gridOptions" (onEdit)="onEditFunction($event)" (onSelected)="onSelectedFunction($event)"></ui-grid>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </sa-widgets-grid>
</div>
<!-- Product Modal -->
<div class="modal fade" id="productsModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">Products Details</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="refill">
              <div class="row">
                <div class="col-sm-12">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Product Segment</th>
                          <th>Product Name</th>
                          <th class="text-right">Rate</th>
                          <th class="text-right">Quantity</th>
                          <th class="text-right">Refill Amount</th>
                          <th class="text-right">Discount</th>
                          <th class="text-right">Return Quantity</th>
                          <th class="text-right">Amount</th>
                          <th class="text-right">Premium Charge</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let pr of ProductArray;index as i">
                          <td>{{i+1}}</td>
                          <td>{{pr.ProdSeg}}</td>
                          <td>{{pr.Product}}</td>
                          <td class="text-right">{{pr.ProdRate}}</td>
                          <td class="text-right">{{pr.ProdQty}}</td>
                          <td class="text-right">{{pr.RefillAmount}}</td>
                          <td class="text-right">{{pr.Discount}}</td>
                          <td class="text-right">{{pr.EmptyQty}}</td>
                          <td class="text-right">{{pr.AmountPayable}}</td>
                          <td class="text-right">{{pr.PremiumCharge}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button> -->
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- CashMemo Modal -->
<div class="modal fade" id="cashmemoModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">Invoice Details</h4>
      </div>
      <div class="modal-body">
        <style>
          /* table > tbody > tr > td {
              vertical-align: middle !important;
              border: 1px solid #ccc;
          } */
         #invctbl table,
         #invctbl th,
         #invctbl   td {
              border: 1px solid black;
              border-collapse: collapse;
              vertical-align: middle !important;
          }
  
          th,
          td {
              padding: 5px;
          }
  
          th>span {
              text-align: left;
          }
      </style>
        <div class="row" id="invctbl">
          
          <div class="col-sm-12 table-responsive">
            <table style="width:100%;">
              <tbody style="width:100%;">
                  <tr>
                      <td align="center" rowspan="2"><img
                              src="assets/img/AegisLogoWithoutBackground.png"
                              width="70px"></td>
                      <th align="center" colspan="8" class="text-center">AEGIS GAS</th>
                  </tr>
                  <tr>
                      <th align="center" colspan="8" class="text-center"><span style="font-size: 19px;"> {{custData.CPName}} </span>
                          <br> <small> {{custData.CPAddress}}</small><br>
                          <small>SAP ID : {{custData.SAPID}}</small>
                      </th>
                  </tr>
                  <tr align="left">
                      <th colspan="5"> To : {{custData.ConsName}}
                          <br><br>
                          Customer No. : {{custData.ConsNo}}
                      </th>
                      <th colspan="4"> Bill Date : {{custData.DelDate}} 
                          <br>Bill No. : {{custData.DelRefNo}} 
                          <br> GST No. : {{custData.GstNo}}   
                      </th>
                  </tr>
                  <tr align="center" class="text-center">
                      <th rowspan="2" class="text-center">
                          Product
                      </th>
                      <th colspan="3" class="text-center"> GST</th>
                      <th rowspan="2" class="text-center">Discount</th>
                      <th rowspan="2" class="text-center">Product <br>Rate</th>
                      <th rowspan="2" class="text-center">Product <br>Quantity</th>
                      <th rowspan="2" class="text-center">Total </th>
                      <th rowspan="2" class="text-center">Payable <br>Amount</th>
                  </tr>
                  <tr align="center" class="text-center">
                      <th class="text-center"><strong>CGST(%)</strong></th>
                      <th class="text-center">SGST(%)</th>
                      <th class="text-center">IGST(%)</th>
                  </tr>
                 
                  <tr *ngFor="let pr of ProductArray;index as i" >
                    
                    <th>{{pr.Product}}</th>
                    <td align="right">9.00</td>
                    <td align="right">9.00</td>
                    <td align="right">18.00</td>
                    <td align="right">{{pr.Discount}}</td>
                    <td align="right">{{pr.ProdRate}}</td>
                    <td align="right">{{pr.ProdQty}}</td>
                    <td align="right">{{pr.RefillAmount}}</td>
                    <td align="right">{{pr.AmountPayable}}</td>
                    
                </tr>
                  <tr>
                      <th align="right" colspan="8" class="text-right">Total</th>
                      <th align="right" class="text-right">{{custData.TotalAmtPayable}}</th> 
                  </tr>
                  <tr>
                      <th align="left" colspan="9">Rupees : {{custData.TotalPayAmtWords}}.
                          <br>Delivered By : {{custData.DelUserName}}.
                      </th>
                  </tr>
                  <tr>
                      <td colspan="9"><strong style=" float:right" align="right">For : {{cpInfo.CPName}}</strong>
                          <br><br><strong>Receiver Signature</strong>
                      </td>
                  </tr>
              </tbody>
          </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="onDownloadInvoice()" class="btn btn-success" > <i class="fa fa-fw fa-download" ></i> Download Invoice</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>