<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <sa-widgets-grid>
        <div class="row">
            <article class="col-sm-12">
                <div sa-widget [editbutton]="false" [sortable]="false" [deletebutton]="false" [togglebutton]="true" minimize="false" color="blueDark">
                    <header class="text-center">
                        <h2>
                            <i class="fa fa-database"></i> Vehicle Master</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <form name="vehicleForm" id="vehicleForm" #vehicleForm="ngForm" (ngSubmit)="onSubmit()" ngNativeValidate> </form>
                            <form name="vehicleDocsForm" id="vehicleDocsForm" #vehicleDocsForm="ngForm" (ngSubmit)="onSubmitDocs()" ngNativeValidate> </form>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="vehicle-cart">
                                            <label>
                                                <strong class="text-primary">Vehicle Details : </strong>
                                            </label>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Vehicle Type
                                                            <span class="errorMessage">*</span>
                                                        </label>
                                                        <select class="form-control" [(ngModel)]="vehicle.VehicleType" name="VehicleType" form="vehicleForm" required>
                                                            <option value="undefined" selected hidden>Select Vehicle Type</option>
                                                            <option value="2 Wheeler">2 Wheeler</option>
                                                            <option value="3 Wheeler">3 Wheeler </option>
                                                            <option value="4 Wheeler">4 Wheeler </option>
                                                            <option value="6 Wheeler">6 Wheeler </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Vehicle No.
                                                            <span class="errorMessage">*</span>
                                                        </label>
                                                        <input type="text" class="form-control" [(ngModel)]="vehicle.VehicleNo" name="VehicleNo" saCommonDir dirType="alphanumeric" form="vehicleForm" placeholder="Enter Vehicle No."
                                                            required />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Cylinder Capacity
                                                            <span class="errorMessage">*</span>
                                                        </label>
                                                        <input type="text" class="form-control" [(ngModel)]="vehicle.CylCapacity" name="CylCapacity" saCommonDir dirType="number" form="vehicleForm" placeholder="Enter Cylinder Capacity"
                                                            required />
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Last Fitness Date
                                                            <span class="errorMessage">*</span>
                                                        </label>
                                                        <input type="text" class="form-control" [(ngModel)]="vehicle.LastFitnessDate" name="LastFitnessDate" placeholder="Enter Last Fitness Date" form="vehicleForm"
                                                            required />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <label class="chekbox-margin">
                                                        <input type="checkbox" [(ngModel)]="vehicle.Insurance" name="Insurance" form="vehicleForm" /> Insurance Done ?
                                                    </label>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label>Insurance Renewal Date
                                                            <span class="errorMessage">*</span>
                                                        </label>
                                                        <input type="text" class="form-control" [(ngModel)]="vehicle.InsuranceRenewalDate" name="InsuranceRenewalDate" placeholder="Enter Renewal Date" form="vehicleForm"
                                                          [required]="vehicle.Insurance"  [disabled]="!vehicle.Insurance" [value]="vehicle.Insurance==false?'':vehicle.InsuranceRenewalDate"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>
                                                        <input type="checkbox" name="IsActive" [(ngModel)]='vehicle.IsActive'  form="vehicleForm"/> Is Active
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="vehicle-cart">
                                            <label>
                                                <strong class="text-primary">Vehicle Documents : </strong>
                                            </label>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label>Document Type
                                                            <span class="errorMessage">*</span>
                                                        </label>
                                                        <select class="form-control" [(ngModel)]='vehicle.DocType' name="DocType" required>
                                                            <option value="undefined" selected hidden form="vehicleDocsForm" >Select Document Type</option>
                                                            <option value="Vehicle Document">Vehicle Document</option>
                                                            <option value="Insurance Document">Insurance Document </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Select File
                                                            <span class="errorMessage">*</span>
                                                        </label>
                                                        <input type="file" class="form-control" [(ngModel)]='vehicle.DocFileName' name="DocFileName" placeholder="Enter Vehicle No." form="vehicleDocsForm" required />
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label>&nbsp;
                                                        </label>
                                                        <button class="btn btn-block btn-warning " form="vehicleDocsForm">
                                                            <i class="glyphicon glyphicon-plus"></i>
                                                            Add
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="table-responsive">

                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>#</th>
                                                                    <th>Doc Type</th>
                                                                    <th>Document</th>
                                                                    <th>View</th>
                                                                    <th>Remove</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>1</td>
                                                                    <td>Vehicle Doc</td>
                                                                    <td>4 wheeler Registration </td>
                                                                    <td>
                                                                        <a href="assets/img/logo.gif" target="_blank" class="btn btn-xs btn-success">View</a>
                                                                    </td>
                                                                    <td>
                                                                        <button class="btn btn-xs btn-danger">Remove</button>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>2</td>
                                                                    <td>Insurance Doc</td>
                                                                    <td>Renewal Insurance Doc</td>
                                                                    <td>
                                                                        <a href="assets/img/logo.gif" target="_blank" class="btn btn-xs btn-success">View</a>
                                                                    </td>
                                                                    <td>
                                                                        <button class="btn btn-xs btn-danger">Remove</button>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <footer>
                                    <div class="row">
                                        <div class="col-sm-12 ">
                                            <hr />
                                            <a class="pull-right btn btn-default" routerLink="/master/vehicle-master">
                                                <i class="glyphicon glyphicon-arrow-left"></i> &nbsp;&nbsp;Back
                                            </a>
                                            <button class="pull-right btn btn-primary marg-right" type="submit" form="vehicleForm">
                                                <i class="glyphicon glyphicon-send"></i> &nbsp;&nbsp;Submit
                                            </button>
                                        </div>
                                        <!-- <div class="col-sm-12 " ng-show="divhide">
                                <button type="button" name="" class="pull-right btn btn-primary marg-right">
                                    <i class="fa fa-cog fa-spin fa-fw" aria-hidden="true"></i> Loading
                                </button>
                            </div> -->
                                    </div>
                                </footer>
                           
                        </div>
                    </div>
                </div>



            </article>


        </div>

    </sa-widgets-grid>
</div>