<!-- MAIN CONTENT -->
<div id="content">
    <sa-widgets-grid>
      <div class="row">
        <article class="col-sm-12">
          <div sa-widget [editbutton]="false" [sortable]="false" [deletebutton]="false" [togglebutton]="true" minimize="false" color="blueDark">
              <header class="text-center"> 
                        <h2> <i class="fa fa-envelope"></i> Check & Recharge SMS</h2>
            </header>
            <div>
              <div class="widget-body">
             

                  <div class="row">
                      <div class="col-sm-6">
                          <div class="row">

                              <div class="col-sm-4">
                                  <label class="blue-label">Transactional SMS <span class="recharge-red ng-binding">&nbsp;(2015)</span></label>
                              </div>
                              <div class="col-sm-8">
                                  <label class="text-danger"></label>
                              </div>

                          </div>
                      </div>


                      <div class="col-sm-6">
                          <div class="row">

                              <div class="col-sm-4">
                                  <label class="blue-label">Promotional SMS<span class="recharge-red ng-binding">&nbsp;(0)</span></label>
                              </div>
                              <div class="col-sm-6">
                                  <label class="text-danger"></label>
                              </div>

                          </div>
                      </div>
                
                  </div>
                  <hr class="hr-notop">

                  <div class="row">
                      <div class="col-sm-6">
                          <div class="sms-info">
                              <h3 class="text-size"><strong>Transactional SMS</strong></h3>
                              <p>This option can be used for sharing the transaction / Business related information with the LPG consumers
                                  Distributors can use this option to send SMS’s :
                              </p>
                              <div class="sms-list">
                                  <ul>
                                      <li>Related to card issue to Consumers</li>
                                      <li>To remind consumers about the Mandatory inspection, Suraksha Hose replacement, Repairs and maintenance of Hot Plates etc.</li>
                                  </ul>
                              </div>
                          </div>
                      </div>


                      <div class="col-sm-6">


                          <div class="sms-info-buy">

                              <div class="how-to-buy-head">
                                  <p class="text-center text-size"><strong>How to Buy SMS?</strong></p>
                              </div>
                              <div class="buy-no">


                                  <p>Dear Customer,</p>

                                  <p>
                                      We appreciate your decision of buying SMS for your daily need. To buy SMS please contact our helpdesk.
                                  </p>

                                  <div class="row">

                                      <div class="col-sm-3">
                                          <label class="blue-label">Mobile No.</label>
                                      </div>
                                      <div class="col-sm-6">
                                          <label>81-8002-8002</label>
                                      </div>

                                  </div>

                                  <div class="row">

                                      <div class="col-sm-3">
                                          <label class="blue-label">Phone No:</label>
                                      </div>
                                      <div class="col-sm-6">
                                          <label>020-67311972</label>
                                      </div>

                                  </div>
                                  <div class="row">

                                      <div class="col-sm-3">
                                          <label class="blue-label">Email:</label>
                                      </div>
                                      <div class="col-sm-6">
                                          <label>weblead@sanhitainfotech.com</label>
                                      </div>

                                  </div>
                              </div>
                      </div>
                        
                      </div>



                  </div>




                  <div class="row">
                      <div class="col-sm-6">
                          <div class="sms-info">
                              <h3 class="text-size"><strong>Promotional SMS</strong></h3>
                              <p>
                                  This option can be used to send Promotional and Customer Relationship SMS’s to consumers :
                                  Distributors can use this option to send SMS’s:

                              </p>
                              <div class="sms-list">
                                  <ul>
                                      <li>To inform consumer about any promotional scheme is in place e.g. Exchange of Hotplates, Discounts on ARB items etc</li>
                                      <li>To greet the consumers on festivals, Birth day, Marriage Anniversary day etc.</li>
                                      <li>ABR product sales related SMS’s</li>
                                  </ul>
                              </div><br><br>
                          </div>
                      </div>


                      <div class="col-sm-6">


                          <div class="sms-info-buy">

                              <div class="how-to-buy-head">
                                  <p class="text-center text-size"><strong>Key Features</strong></p>
                              </div>
                              <div class="buy-no">


                                  <ul>
                                      <li>100% Transparent &amp; Genuine Reports as how we are getting from our corresponding Telecom Operators (No Delivery Cut off OR Fake Reports)</li>
                                      <li>Robust delivery mechanism with retry option to ensure all your messages are delivered.</li>
                                      <li>Intelligent Queue Management System with Clustered Load Balancing to ensure the timely delivery of messages.</li>
                                      <li>High through put with Multiple Operator Connectivity ensure uninterrupted delivery of messages.</li>
                                      <li>Quick Delivery Overview on the screen with Refresh Option (no need to download Data)</li>
                                      <li>Searchable &amp; Detailed Delivery Reports to find the delivery status of a particular number.</li>
                                      <li>Export Complete Report to CSV Sheet</li>
                                  </ul>

                                 
                                

                                
                                
                              </div>
                          </div>

                      </div>



                  </div>




              </div>
            </div>
          </div>
        </article>
      </div>  
    </sa-widgets-grid>
  </div>