<!-- MAIN CONTENT -->
<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12">
        <div sa-widget [editbutton]="false" [sortable]="false" [deletebutton]="false" [togglebutton]="true" minimize="false" color="blueDark">
          <header class="text-center">
            <h2> <i class="fa fa-table"></i> Orders & Dispatch Details</h2>
          </header>
          <div>
            <div class="widget-body">
              <div class="row ">
                <form name="stockForm" #stockForm="ngForm" (ngSubmit)="onLoad()" autocomplete="off" ngNativeValidate>
                      <div class="col-sm-2">
                        <div class="form-group">
                          <!-- <label for="sel1">Channel Partner Code</label> -->
                          <input type="text" class="form-control" id="pmode" placeholder="SD / SF Code" autocomplete="off" [(ngModel)]="order.CPCode" [ngModelOptions]="{standalone: true}" />
                        </div>
                      </div>
                  <div class="col-sm-2 col-xs-8">
                    <div class="form-group">
                      <label class="posticon">
                        <i class="icon-append fa fa-calendar"></i>
                        <input type="text" class="form-control" placeholder="Enter Start Date" bsDatepicker [(ngModel)]="StartDate" name="Startdate" id="startDate"
                          (bsValueChange)="resetEndDate($event)" onkeydown="return false" bsDatepicker [bsConfig]="datePickerConfig" required />
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-2 col-xs-8">
                    <div class="form-group">
                      <label class="posticon">
                        <i class="icon-append fa fa-calendar"></i>
                        <input type="text" id="endDate" class="form-control" placeholder="Enter End Date" [(ngModel)]="EndDate" name="EndDate" required onkeydown="return false" [minDate]="minDate"
                          bsDatepicker [bsConfig]="datePickerConfig" />
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <select  class="form-control"  [(ngModel)]="order.OrderStage" name="OrderStage">
                        <option value="" selected hidden>--Select--</option>
                        <option *ngFor="let option of Status" value="{{option.OrderStage}}">{{option.OrderStageDesc}}</option>
                        </select>
                      <!-- <select class="form-control" id="sel" [(ngModel)]="stage" name="stage">
                        <option value="" selected hidden>Select Order Status</option>
                        <option value="PE">Pending</option>
                        <option value="AC">Accepted</option>
                        <option value="RJ">Rejected</option>
                        <option value="DI">Dispatched</option>
                      </select> -->
                    </div>
                  </div>
                  <div class="col-sm-1 col-xs-4">
                    <div class="form-group">
                      <button class="btn btn-block btn-success get_details" type="submit" [disabled]="!loaderbtn">
                        <i class="fa fa-fw" [ngClass]="{'fa-search':loaderbtn,'fa-cog fa-spin':!loaderbtn}"></i> {{loaderbtn==true? 'Get Details':'Loading'}}</button>
                    </div>
                  </div>
                  <!-- <div class="col-sm-2 pull-right">
                    <div class="form-group pull-right">
                      <a routerLink="/stock/stock-orders" class="btn btn-block btn-warning get_details pull-right">
                        <i class="glyphicon glyphicon-plus"></i> Add Order </a>
                    </div>
                  </div> -->
                </form>
                <div class="col-sm-12 table-responsive">
                  <ui-grid [data]="stockOrdersData" [gridOptions]="gridOptions" (onEdit)="onEditFunction($event)" (onDelete)="onDeleteFunction($event)"></ui-grid>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </sa-widgets-grid>
</div>
