<!-- MAIN CONTENT -->
<div id="content">
  <!-- widget grid -->
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12">
        <div sa-widget [editbutton]="false" [sortable]="false" [deletebutton]="false" [togglebutton]="true" minimize="false" color="blueDark">
          <header class="text-center">

            <h2>
              <i class="fa fa-table"></i> Deliver Refill</h2>
          </header>
          <div>
            <div class="widget-body">
              <div class="row">
                  <div class="col-sm-12">
                      <div class="logincDeatils">
                          <!-- <label class="text-primary"><strong>Customer  Details : </strong></label> -->
                    <div class="row">                       
                            
                            <div class="col-sm-3 col-sm-offset-1">
                              <div class="form-group label-center">
                                <label ><strong >   <i class="fa fa-user"></i>
                                  Customer Number :</strong> <strong class="text-warning"> 01236487</strong>  
                                 
                                </label>
                               
                              </div>
                            </div>
                            <div class="col-sm-3 col-sm-offset-1">
                              <div class="form-group label-center">
                                <label ><strong>  <i class="fa fa-user"></i>
                                  Customer Name : </strong> <strong class="text-warning">Atul Purkar</strong>  
                                 
                                </label>
                               
                              </div>
                            </div>
                            <div class="col-sm-3 col-sm-offset-1">
                              <div class="form-group label-center">
                                <label ><strong >   <i class="fa fa-user"></i>
                                  Delivery Boy : </strong>  <strong class="text-warning"> Sachin Tendul</strong> 
                                 
                                </label>
                               
                              </div>
                            </div>
                          </div>
                    </div>
                  </div>
            
                <div class="col-sm-12">
                  <div class="refill">
                    <label>
                      <strong class="text-primary"> Booking Details : </strong>
                    </label>
              
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="table-responsive">

                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Product Category</th>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Return Quantity</th>
                                <th>Edit</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>Category 1</td>
                                <td>14 Kg cylinder</td>
                                <td>699</td>
                                <td>
                                 1
                                </td>
                                <td>
                                  
                                 </td>
                                <td>
                                  <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#myModal">Edit</button>
                                </td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>Category 1</td>
                                <td>19 Kg cylinder</td>
                                <td>1299</td>
                                <td>
                                 1
                                </td>
                                <td>
                                 
                                 </td>
                                <td>
                                  <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#myModal">Edit</button>
                                </td>
                              </tr>
                                            </tbody>
                          </table>

                        </div>
                      </div>
                    </div>


                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2">
                  <div class="form-group">
                    <label>Delivery Boy
                      <span class="errorMessage">*</span>
                    </label>
                    <select class="form-control">
                      <option selected hidden>Select Delivery Boy</option>
                      <option>Aajay J Adwani </option>
                      <option>Mohan k Gandhiwala </option>
                      <option>D K Bhos </option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-1">
                  <div class="form-group">
                    <label>Total Qty  <span class="errorMessage">*</span>
                    </label>
                    <input type="text" class="form-control" placeholder="Enter Qty" disabled />
                  </div>
                </div>
                <div class="col-sm-1">
                  <div class="form-group">
                    <label>Return Qty  <span class="errorMessage">*</span>
                    </label>
                    <input type="text" class="form-control" placeholder="Enter Qty" disabled />
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label>Total Discount  </label>
                    <input type="text" class="form-control" placeholder="Enter Discount"  />
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label>Total Price </label>
                    <input type="text" class="form-control" placeholder="Enter Amount"  disabled/>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label>Paid Amount        </label>
                    <input type="text" class="form-control" placeholder="Enter Paid Amount"  />
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label>Pending Amount        </label>
                    <input type="text" class="form-control" placeholder="Enter Pending Amount"  disabled/>
                  </div>
                </div>
             
              </div> 


              <footer>
                <div class="row">
                  <div class="col-sm-12 ">
                    <hr />
                    <a class="pull-right btn btn-default" routerLink="/order/cash-memo-and-refill-delivery">
                      <i class="glyphicon glyphicon-arrow-left"></i> &nbsp;&nbsp;Back
                    </a>
                    <button class="pull-right btn btn-primary marg-right" type="submit">
                      <i class="glyphicon glyphicon-send"></i> &nbsp;&nbsp;Process Delivery
                    </button>
                  </div>
                  <!-- <div class="col-sm-12 " ng-show="divhide">
                              <button type="button" name="" class="pull-right btn btn-primary marg-right">
                                  <i class="fa fa-cog fa-spin fa-fw" aria-hidden="true"></i> Loading
                              </button>
                          </div> -->
                </div>
              </footer>  
            </div>
          </div>
        </div>  
      </article>
    </div>
  </sa-widgets-grid>
</div>



  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-center">Refill Quantity Details</h4>
        </div>
        <div class="modal-body">
         <div class="row">
            <div class="col-sm-4 col-sm-offset-2">
                <div class="form-group">
                  <label>Total Quantity  <span class="errorMessage">*</span>
                  </label>
                  <input type="text" class="form-control" placeholder="Enter Quantity"  />
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Return Quantity  <span class="errorMessage">*</span>
                  </label>
                  <input type="text" class="form-control" placeholder="Enter Quantity"  />
                </div>
              </div>
         </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>