<!-- MAIN CONTENT -->
<div id="content">
    
     
      <!-- widget grid -->
      <sa-widgets-grid>
    
    
        <div class="row">
          <article class="col-sm-12">
    
            <div sa-widget [editbutton]="false" [sortable]="false" [deletebutton]="false" [togglebutton]="true" minimize="false" color="blueDark">
              <header class="text-center">
                <h2><i class="fa fa-table"></i> Route Master</h2>
              </header>
              <div>
                <div class="widget-body">
                    <div class="row ">
                        <div class="col-sm-12">
                            <div class="form-group  pull-right">
                                <a routerLink="/master/route" class="btn btn-block btn-primary ">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    Add Route
                                </a>
                            </div>
                        </div>
                    </div>
    
                </div>
              </div>
            </div>
    
          
    
          </article>
    
         
        </div>
      
      </sa-widgets-grid>
    </div>
    