<!-- MAIN CONTENT -->
<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12">
        <div sa-widget [editbutton]="false" [sortable]="false" [deletebutton]="false" [togglebutton]="true" minimize="false" color="blueDark">
          <header class="text-center">
            <h2>
              <i class="fa fa-user"></i> New Customer</h2>
          </header>
          <div>
            <div class="widget-body">
              <div class="row">
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="sel1">Customer No.
                      <span class="errorMessage" >*</span>
                    </label>
                    <input type="text" class="form-control" placeholder="Enter Customer No." [(ngModel)]="customer.ConsNo" name="ConsNo"     required disabled/>
                  </div>
                </div>
                <div class="col-sm-1">
                  <div class="form-group">
                    <label for="sel1">Salutation
                      <span class="errorMessage" >*</span>
                    </label>
                    <select class="form-control" ng-options="s.scode as s.sdesc for s in SalutationData"[(ngModel)]="customer.Salutation" name="Salutation" required>
                      <option value="" selected hidden>-Select-</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="sel1">First Name
                      <span class="errorMessage" >*</span>
                    </label>
                    <input type="text" class="form-control" placeholder="Enter First Name" [(ngModel)]="customer.FirstName" name="FirstName" required />
                  </div>
                </div>
                <!--<div class="col-sm-3">
                          <div class="form-group">
                              <label for="sel1">Middle Name</label>
                              <input type="text" class="form-control" placeholder="Enter Middle Name" ng-model="consumer.MiddleName" alphaonly />
                          </div>
                      </div>-->
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="sel1">Last Name
                      <span class="errorMessage" >*</span>
                    </label>
                    <input type="text" class="form-control" placeholder="Enter Last Name" [(ngModel)]="customer.LatName" name="LatName" required />
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="sel1">Mobile No.
                      <span class="errorMessage" >*</span>
                    </label>
                    <input type="text" class="form-control" placeholder="Enter Mobile No." [(ngModel)]="customer.MobileNo" name="MobileNo" minlength="10" maxlength="10"
                      pattern="[6-9]{1}[0-9]{9}" oninvalid="this.setCustomValidity('Enter valid 10 digits Mobile number')"
                      onchange="setCustomValidity('')" oninput="setCustomValidity(' ')" numericonly required />
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="sel1">Customer Type
                      <span class="errorMessage" >*</span>
                    </label>
                    <select class="form-control" [(ngModel)]="customer.CustTypeId" name="CustTypeId"    required>
                      <option value="" selected hidden> Select </option>
                      <option value="">Domestic</option>
                      <option value="">Industrial</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="sel1">Volume Type
                      <span class="errorMessage" >*</span>
                    </label>
                    <select class="form-control" [(ngModel)]="customer.VolumeTypeId" name="VolumeTypeId"   required>
                      <option value="" selected hidden> Select Volume </option>
                      <option value="">0 - 5 Cylinder</option>
                      <option value="">6 - 10 Cylinder</option>
                      <option value="">11 - 15 Cylinder</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="sel1">Consumption Type
                      <span class="errorMessage">*</span>
                    </label>
                    <select class="form-control"  [(ngModel)]="customer.ConsuptionTypeId" name="ConsuptionTypeId"  required>
                      <option value="" selected hidden> Select Type </option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="sel1">Service Type
                      <span class="errorMessage">*</span>
                    </label>
                    <select class="form-control" [(ngModel)]="customer.ServiceTypeId" name="ServiceTypeId" required>
                      <option value="" selected hidden> Select Service Type </option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="sel1">Type Of Firm
                      <span class="errorMessage">*</span>
                    </label>
                    <select class="form-control" [(ngModel)]="customer.FirmTypeId" name="FirmTypeId" required>
                      <option value="" selected hidden> Select  Type of Firm </option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="sel1">Route
                      <span class="errorMessage" >*</span>
                    </label>
                    <select [(ngModel)]="customer.ConsNo" name="ConsNo" class="form-control" [(ngModel)]="customer.RoutId" name="RoutId" required>
                      <option value="" selected hidden> Select Route </option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="sel1">Sub Area
                      <span class="errorMessage" >*</span>
                    </label>
                    <select [(ngModel)]="customer.SubAreaId" name="SubAreaId" class="form-control" required>
                      <option value="" selected hidden> Select Sub Area </option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="sel1">Opening Balance Quantity
                      <span class="errorMessage" >*</span>
                    </label>
                    <input type="text" class="form-control" placeholder="Enter Quantity"[(ngModel)]="customer.OpeningCylQty" name="OpeningCylQty" required />
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="sel1">Opening Balance Amount
                      <span class="errorMessage" >*</span>
                    </label>
                    <input type="text" class="form-control" placeholder="Enter Amount" [(ngModel)]="customer.OpeningBalAmt" name="OpeningBalAmt" required />
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="sel1">Customer Category
                      <span class="errorMessage" >*</span>
                    </label>
                    <select class="form-control" [(ngModel)]="customer.CustCatId" name="CustCatId" required>
                      <option value="" selected hidden> Select Category </option>
                    </select>
                  </div>
                </div>




                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="sel1">Delivery Address Line 1
                      <span class="errorMessage" >*</span>
                    </label>
                    <input type="text" class="form-control" placeholder="Enter Address Line 1" [(ngModel)]="customer.ConsNo" name="ConsNo" required />
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="sel1">Delivery Address Line 2</label>
                    <input type="text" class="form-control" placeholder="Enter Address Line 2" [(ngModel)]="customer.ConsNo" name="ConsNo" />
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="sel1">Delivery Address Line 3</label>
                    <input type="text" class="form-control" placeholder="Enter Address Line 3" [(ngModel)]="customer.ConsNo" name="ConsNo" />
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                      <label>State
                          <span class="errorMessage">*</span>
                      </label>
                      <select class="form-control" [(ngModel)]="customer.ConsNo" name="ConsNo">
                          <option selected hidden>Select State</option>
                          <option>Maharashtra</option>
                          <option>Goa </option>
                      </select>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="form-group">
                      <label>City
                          <span class="errorMessage">*</span>
                      </label>
                      <select class="form-control" [(ngModel)]="customer.ConsNo" name="ConsNo">
                          <option selected hidden>Select City</option>
                          <option>Pune</option>
                          <option>Mumbai </option>
                          <option>Nagpur </option>
                      </select>
                  </div>
              </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="sel1">Pin Code
                      <span class="errorMessage" >*</span>
                    </label>
                    <input type="text" class="form-control" placeholder="Enter Pin" [(ngModel)]="customer.ConsNo" name="ConsNo" minlength="6" maxlength="6" 
                      required />
                  </div>
                </div>
                <!--<div class="col-sm-2 " ng-show="divshow">

                          <button class="btn-marg-top btn btn-primary">
                              <i class="glyphicon glyphicon-send"></i> &nbsp;&nbsp;Submit
                          </button>
                      </div>
                      <div class="col-sm-2 " ng-show="divhide">
                          <button type="button" name="" class="btn-marg-top btn btn-primary">
                              <i class="fa fa-cog fa-spin fa-fw" aria-hidden="true"></i> Loading
                          </button>
                      </div>-->
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <label>
                    <input type="checkbox" trueFalseValue trueValue="Y" falseValue="N" name="IsActive" [(ngModel)]='customer.IsActive'  form="vehicleForm"/> Is Active
                  </label>
                </div>

              </div>


              <footer>
                <div class="row">
                  <div class="col-sm-12 ">
                    <hr />
                    <a class="pull-right btn btn-default" routerLink="/customer/customer-master">
                      <i class="glyphicon glyphicon-arrow-left"></i> &nbsp;&nbsp;Back
                    </a>
                    <button class="pull-right btn btn-primary marg-right" type="submit">
                      <i class="glyphicon glyphicon-send"></i> &nbsp;&nbsp;Submit
                    </button>
                  </div>
                  <!-- <div class="col-sm-12 " ng-show="divhide">
                              <button type="button" name="" class="pull-right btn btn-primary marg-right">
                                  <i class="fa fa-cog fa-spin fa-fw" aria-hidden="true"></i> Loading
                              </button>
                          </div> -->
                </div>
              </footer>

            </div>
          </div>
        </div>



      </article>


    </div>

  </sa-widgets-grid>
</div>