<!-- MAIN CONTENT -->
<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12">
        <div sa-widget [editbutton]="false" [sortable]="false" [deletebutton]="false" [togglebutton]="true" minimize="false" color="blueDark">
          <header class="text-center">
            <h2>
              <i class="fa fa-user"></i> New Customer</h2>
          </header>
          <div>
            <div class="widget-body">
              <div class="row">
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="sel1">Customer No.
                      <span class="errorMessage" >*</span>
                    </label>
                    <input type="text" class="form-control" placeholder="Enter Customer No." ng-model="consumer.ConsNo" maxlength="8" oninvalid="this.setCustomValidity('Enter consumer number')"
                      onchange="setCustomValidity('')" oninput="setCustomValidity(' ')" numericonly required disabled/>
                  </div>
                </div>
                <div class="col-sm-1">
                  <div class="form-group">
                    <label for="sel1">Salutation
                      <span class="errorMessage" >*</span>
                    </label>
                    <select class="form-control" ng-options="s.scode as s.sdesc for s in SalutationData" ng-model="consumer.Salutation" required>
                      <option value="" selected hidden>-Select-</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="sel1">First Name
                      <span class="errorMessage" >*</span>
                    </label>
                    <input type="text" class="form-control" placeholder="Enter First Name" ng-model="consumer.FirstName" alphaonly required />
                  </div>
                </div>
                <!--<div class="col-sm-3">
                          <div class="form-group">
                              <label for="sel1">Middle Name</label>
                              <input type="text" class="form-control" placeholder="Enter Middle Name" ng-model="consumer.MiddleName" alphaonly />
                          </div>
                      </div>-->
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="sel1">Last Name
                      <span class="errorMessage" >*</span>
                    </label>
                    <input type="text" class="form-control" placeholder="Enter Last Name" ng-model="consumer.LastName" alphaonly required />
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="sel1">Mobile No.
                      <span class="errorMessage" >*</span>
                    </label>
                    <input type="text" class="form-control" placeholder="Enter Mobile No." ng-model="consumer.MobileNo" minlength="10" maxlength="10"
                      pattern="[6-9]{1}[0-9]{9}" oninvalid="this.setCustomValidity('Enter valid 10 digits Mobile number')"
                      onchange="setCustomValidity('')" oninput="setCustomValidity(' ')" numericonly required />
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="sel1">Customer Type
                      <span class="errorMessage" >*</span>
                    </label>
                    <select class="form-control" data-toggle="tooltip" data-placement="top" title="Select area" ng-model="consumer.AreaCode"
                      required>
                      <option value="" selected hidden>-- Select --</option>
                      <option value="">Domestic</option>
                      <option value="">Industrial</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="sel1">Volume Type
                      <span class="errorMessage" >*</span>
                    </label>
                    <select class="form-control" data-toggle="tooltip" data-placement="top" title="Select area" ng-model="consumer.AreaCode"
                      required>
                      <option value="" selected hidden>-- Select Volume --</option>
                      <option value="">0 - 5 Cylinder</option>
                      <option value="">6 - 10 Cylinder</option>
                      <option value="">11 - 15 Cylinder</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="sel1">Route
                      <span class="errorMessage" >*</span>
                    </label>
                    <select ng-options="a.ItemCode as a.ItemName for a in Pdata" class="form-control" data-toggle="tooltip" data-placement="top"
                      title="Select area" ng-model="consumer.ItemCode" required>
                      <option value="" selected hidden>-- Select Route --</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="sel1">Sub Area
                      <span class="errorMessage" >*</span>
                    </label>
                    <select ng-options="a.ItemCode as a.ItemName for a in Pdata" class="form-control" data-toggle="tooltip" data-placement="top"
                      title="Select area" ng-model="consumer.ItemCode" required>
                      <option value="" selected hidden>-- Select Sub Area --</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="sel1">Opening Balance Quantity
                      <span class="errorMessage" >*</span>
                    </label>
                    <input type="text" class="form-control" placeholder="Enter Quantity" ng-model="consumer.LastName" alphaonly required />
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="sel1">Opening Balance Amount
                      <span class="errorMessage" >*</span>
                    </label>
                    <input type="text" class="form-control" placeholder="Enter Amount" ng-model="consumer.LastName" alphaonly required />
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="sel1">Customer Category
                      <span class="errorMessage" >*</span>
                    </label>
                    <select class="form-control" data-toggle="tooltip" data-placement="top" title="Select area" required>
                      <option value="" selected hidden>-- Select Category --</option>
                    </select>
                  </div>
                </div>




                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="sel1">Delivery Address Line 1
                      <span class="errorMessage" >*</span>
                    </label>
                    <input type="text" class="form-control" placeholder="Enter Address Line 1" ng-model="consumer.AddressLine1" required />
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="sel1">Delivery Address Line 2</label>
                    <input type="text" class="form-control" placeholder="Enter Address Line 2" ng-model="consumer.AddressLine2" />
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="sel1">Delivery Address Line 3</label>
                    <input type="text" class="form-control" placeholder="Enter Address Line 3" ng-model="consumer.AddressLine3" />
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="sel1">Pin Code
                      <span class="errorMessage" >*</span>
                    </label>
                    <input type="text" class="form-control" placeholder="Enter Pin" ng-model="consumer.Pin" minlength="6" maxlength="6" numericonly
                      required />
                  </div>
                </div>
                <!--<div class="col-sm-2 " ng-show="divshow">

                          <button class="btn-marg-top btn btn-primary">
                              <i class="glyphicon glyphicon-send"></i> &nbsp;&nbsp;Submit
                          </button>
                      </div>
                      <div class="col-sm-2 " ng-show="divhide">
                          <button type="button" name="" class="btn-marg-top btn btn-primary">
                              <i class="fa fa-cog fa-spin fa-fw" aria-hidden="true"></i> Loading
                          </button>
                      </div>-->
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <label>
                    <input type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-model="Area.IsActive" /> Is Active
                  </label>
                </div>

              </div>


              <footer>
                <div class="row">
                  <div class="col-sm-12 ">
                    <hr />
                    <a class="pull-right btn btn-default" routerLink="/customer/customer-master">
                      <i class="glyphicon glyphicon-arrow-left"></i> &nbsp;&nbsp;Back
                    </a>
                    <button class="pull-right btn btn-primary marg-right" type="submit">
                      <i class="glyphicon glyphicon-send"></i> &nbsp;&nbsp;Submit
                    </button>
                  </div>
                  <!-- <div class="col-sm-12 " ng-show="divhide">
                              <button type="button" name="" class="pull-right btn btn-primary marg-right">
                                  <i class="fa fa-cog fa-spin fa-fw" aria-hidden="true"></i> Loading
                              </button>
                          </div> -->
                </div>
              </footer>

            </div>
          </div>
        </div>



      </article>


    </div>

  </sa-widgets-grid>
</div>